.content{
    width: 98.2vw;
    height: 98vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FEFCFC;
}

img{
    width: 300px;
    height: 200px;
}

.message p {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18pt;
    font-weight: 500;
    line-height: 30pt;
    text-transform: uppercase;
}

.message p i {
    color: rgb(240, 76, 76);
    font-size: 16pt;
}

.message p span {
    color: rgb(255, 102, 102);
    font-size: 12pt;
}

.button-home .home{
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: rgb(240, 76, 76);
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14pt;
    cursor: pointer;
}